* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-family: myFirstFont;
  src: url(../font/Ponymaker-nzAg.ttf);
}
body {
  overflow-x: hidden;
  background: #ecedf3;
  background-color: #0e0d0d;
  background: linear-gradient(rgba(15, 15, 15, 0.3), rgba(22, 22, 22, 0.6)),
    url(../images/some.png);
  background-size: cover;
  background-position: center;
}

html {
  font-size: 62.5%;
}

.container {
  display: block;
}
/* Hamburger Menu Css Start Here */
.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu {
  right: 33rem;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.change .line {
  background-color: rgb(241, 114, 114);
}

.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #e2b646;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}
/* Hamburger menu Css Ends here */

.header {
  width: 100%;
  height: 80vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
  /* background: transparent; */
}

.banner {
  position: absolute;
  top: 15%;
  left: 37%;

  text-align: center;
}
.banner img {
  opacity: 0;
  margin-left: 15%;
  animation: moveBanner 1s 0.25s forwards;
}

.banner h1 {
  font-size: 10rem;
  font-weight: 300;
  color: #8a793c;
  width: 100%;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  font-family: "Playball", cursive;
  text-shadow: 6px 0px 4px rgba(206, 163, 49, 0.92),
    2px -1px 4px rgba(213, 168, 51, 0.92);
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
  font-family: "Andika New Basic", sans-serif;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.827);
  width: 100%;
  letter-spacing: 0.1rem;
  margin-left: 5%;
  margin-bottom: 3rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 40rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: rgba(59, 57, 59, 0.524);
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
}

.menu-link {
  font-family: "Baloo Da 2", serif;
  font-size: 4rem;
  color: rgb(241, 114, 114);
  position: relative;
}

.menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #c29525;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.5s ease-in-out;
}

.menu-link:hover::before {
  width: 100%;
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgb(241, 114, 114);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 2s linear;
}

.social-media i:hover {
  filter: hue-rotate(360deg);
}
/* Here goes the our story section */
.our-story {
  width: 100%;
  padding: 5rem;
  padding-top: 0;
}
.heading-div {
  width: 45%;
  height: auto;
  background-color: rgb(238, 227, 227);
  margin: 0 auto;
  font-size: 6rem;
  opacity: 0;
  text-align: center;
  font-family: myFirstFont;
  margin-bottom: 5rem;
  animation: moveBanner 1s 0.9s forwards;
}
.content-div {
  width: 545px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.first-div {
  margin-top: 10rem;
}
.sec-div {
  margin-left: 50%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.com-class {
  width: 244px;
  background: #fdf5e6;
  padding: 2rem;
  border: 4px solid rgb(97, 92, 92);
  transform: rotate(10deg) !important;
}
.first-div .img1 img {
  width: 200px;
  height: 200px;
}
.story {
  padding: 4rem;
  background: oldlace;
  border: 4px solid rgb(97, 92, 92);
}
.story p {
  font-size: 2.5rem;
  font-family: "Baloo Da 2", serif;
  line-height: 2.5rem;
  font-weight: 800;
  color: #696565;
}
.img-3 {
  margin-left: 50%;
}
/* FOOTER STARTS HERE */
.footer {
  width: 100%;
  height: 15rem;
  background-color: #232523a5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  color: #eed04aca;
}

.social-list a {
  margin: 0 2rem;
}

.social-list i {
  font-size: 2rem;
  color: #eed04aca;
  transition: all 0.5s ease;
  animation: animate 5s linear infinite;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.social-list i:hover {
  transform: scale(1.9);
}
/* Footer ENds Here */

@media (max-width: 1500px) {
  .footer-content {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .banner p {
    font-size: 3rem;
  }

  .menu-link {
    font-size: 3rem;
  }
}
@media (max-width: 1200px) {
  .heading-div {
    width: 55%;
  }
  .sec-div {
    margin-left: 45%;
  }
}
@media (max-width: 1000px) {
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
  }
  .heading-div {
    width: 416px;
    font-size: 5rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin-top: 3rem;
  }
  .content-div {
    margin: 4rem auto;
  }
}
@media (max-width: 700px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .banner img {
    margin-left: 0;
  }

  .banner p {
    font-size: 2rem;
  }

  .footer-content {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .content-div {
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .sidebar {
    width: 100%;
    right: -100%;
    height: 100%;
    background-color: rgba(59, 57, 59, 0.855);
  }

  .change .hamburger-menu {
    left: 5rem;
  }
  .footer {
    height: 18rem;
  }

  .banner {
    top: 15%;
    left: 30%;
  }
  .banner img {
    margin-left: 0;
    width: 150px;
    height: 150px;
  }
  .banner h1 {
    font-size: 4.9rem;
  }
  .heading-div {
    width: 250px;
    font-size: 3rem;
  }
  .story {
    padding: 2rem;
    width: 120%;
  }
  .story p {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media (max-width: 300px) {
  .banner {
    left: 15%;
  }
  .banner img {
    margin-left: 10px;
  }
  .social-media i {
    font-size: 2rem;
    margin: 1rem;
  }
  .heading-div {
    width: 100vw;
    margin: 0 -42px;
  }
}
/* scrollbar styles */
html {
  --scrollbarBG: linear-gradient(to top, #fbe59d, #f0b169);
  --thumbBG: #d95234;
}
body::-webkit-scrollbar {
  width: 15px;
}
body {
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 12px;
  border: 3px solid var(--scrollbarBG);
}
